html, body {
  margin: 0;
  height: 100%;
}

ul {
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color:#ffffff; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px dotted;
}

a:hover {
  border-bottom: none;
}


body {
height: 100%;
font-family: 'Open Sans', sans-serif;
}



.flex-container {
  display: flex;
  min-height: 100%;
}

.flex-half {
  flex: 6;
}

.flex-row {
  display: flex;
  flex-direction: row;

}

.section {
  display: flex;
  flex: 6;
  flex-direction: column;
  padding: 1.5rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header{
  font-weight: 700;
font-family: 'PT Serif', serif;
  font-size: 20px;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.sideBar {
  flex: 8;
}

.main {
  background-color: #673ab7;
  color: white;
  padding: 2rem;
  flex: 4;
}

.about {
  font-family: 'PT Serif', serif;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.8;
  font-size: 28px;
  width: 70%;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  z-index: -2;
  background-color: #ffffff;
  height: 100%;
}
